@{
    ViewData["Title"] = "AdminProductPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>Get products</h2>
                <textarea></textarea>
                <button></button>
                <hr />
            </div>

            <div class="post-div">
                <h2>Post products</h2>
                <hr />
            </div>

            <div class="put-div">
                <h2>Put products</h2>
                <hr />
            </div>

            <div class="delete-div">
                <h2>Delete products</h2>
            </div class="get-div">
        </div>
    </section>
</body>