@{
    ViewData["Title"] = "UserProductPage";
    Layout = "~/Views/Shared/_LogedInUser.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>products</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>

                    <tbody id="product-table">

                    </tbody>

                </table>
            </div>
        </div>

        <div class="second-div">
            <div class="get-div">
                <h2>All Comments</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>User</th>
                        <th>Product</th>
                        <th>Commnet</th>
                    </tr>

                    <tbody id="all-comments-table">

                    </tbody>

                </table>
            </div>
        </div>

        <div class="first-div">
            <div class="get-div">
                <h2>user Comments</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>Product</th>
                        <th>Commnet</th>
                    </tr>

                    <tbody id="user-comments-table">

                    </tbody>

                </table>

                    <select id="product-drop-down-box">

                    </select>
                    <input id="user-email"/>
                    <input id="comment-text" placeholder="enter your comment.."/>
                    <input id="created-date" placeholder="enter the date.."/>
                    <br />
                    <button id="add-comment">Add</button>
                    <button id="update-comment">Update</button>
            </div>
        </div>
    </section>
    <script>

            var userEmailBox = $("#user-email")
            var emailBox = sessionStorage.getItem("emailBox")
            userEmailBox.val(emailBox)

            var productArray = []
            var productNameArray = []
            var commentArray = []

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetProducts", "Product")",
                dataType: "JSON",
                success: function (response) {
                    productArray = response
                    buildProductTabel(productArray)
                    console.log(productArray)
                }
            })

            function buildProductTabel(data) {
                var table = document.getElementById('product-table')

                for (var i = 0; i < data.length; i++) {
                var buttons = `<button>delete</button>`

                    var row = `<tr>
                                   <td>${data[i].product_id}</td>
                                   <td>${data[i].product_name}</td>
                                   <td>${data[i].product_price}$</td>
                                   <td>${data[i].product_description}</td>
                                   <td class="td-button">${buttons}</td>
                               </tr>`

                    table.innerHTML += row
                }
            }

            function buildAllCommentsTabel(data) {
                var table = document.getElementById('all-comments-table')

                for (var i = 0; i < data.length; i++) {
                var buttons = `<button>delete</button>`

                    var row = `<tr>
                                   <td>${data[i].comment_id}</td>
                                   <td>${data[i].comment_text}</td>
                                   <td>${data[i].fk_product_id}$</td>
                                   <td>${data[i].fk_user_id}</td>
                                   <td class="td-button">${buttons}</td>
                               </tr>`

                    table.innerHTML += row
                }
            }

            function buildUserCommentsTabel(data) {
                var table = document.getElementById('user-comments-table')

                for (var i = 0; i < data.length; i++) {
                var buttons = `<button>delete</button>`

                    var row = `<tr>
                                   <td>${data[i].product_id}</td>
                                   <td>${data[i].product_name}</td>
                                   <td>${data[i].product_price}$</td>
                                   <td>${data[i].product_description}</td>
                                   <td class="td-button">${buttons}</td>
                               </tr>`

                    table.innerHTML += row
                }
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetProductName", "Product")",
                dataType: "JSON",
                success: function (response) {
                    productNameArray = response
                    buildUserCommentsDropDownBox(productNameArray)
                    console.log(productNameArray)
                }
            })

            function buildUserCommentsDropDownBox(data) {
                var table = document.getElementById('product-drop-down-box')

                for (var i = 0; i < data.length; i++) {

                    var row = `<option>${data[i].product_name}</option>`

                    table.innerHTML += row
                }
            }
    </script>
</body>