@{
    ViewData["Title"] = "UserProductPage";
    Layout = "~/Views/Shared/_LogedInUser.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>products</h2>
                <datagrid>
                 
                </datagrid>
                <button></button>
                <hr />
            </div>

        </div>
    </section>
</body>