@{
    ViewData["Title"] = "UserProductPage";
    Layout = "~/Views/Shared/_LogedInUser.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>products</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>

                    <tbody id="product-table">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script>

            var productArray = []

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetProducts", "Product")",
                dataType: "JSON",
                success: function (response) {
                    productArray = response
                    buildTabel(productArray)
                    console.log(productArray)
                }
            })

            function buildTabel(data) {
                var table = document.getElementById('product-table')

                for (var i = 0; i < data.length; i++) {
                    var row = `<tr>
                                   <td>${data[i].product_id}</td>
                                   <td>${data[i].product_name}</td>
                                   <td>${data[i].product_price}</td>
                                   <td>${data[i].product_description}</td>
                               </tr>`
                    table.innerHTML += row
                }
            }
    </script>
</body>