@{
    ViewData["Title"] = "UserProductPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>Get products</h2>
                <textarea></textarea>
                <button></button>
                <hr />
            </div>

        </div>
    </section>
</body>