@{
    ViewData["Title"] = "AdminAboutPage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    var session_id = sessionStorage.getItem("data");

    if (session_id == null) {
        sessionStorage.removeItem("data");
        sessionStorage.removeItem("emailInput");
        sessionStorage.removeItem("passwordInput");
        sessionStorage.removeItem("emailBox");
        window.location.href = '@Url.Action("LoginPage", "Home")';
    }
</script>

<head>
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
</head>

<body>
    <section>
        <div class="first-div">
            <h2>Tools</h2>
            <p>
                A tool is an object that can extend an individual's ability to modify features of the surrounding environment or help them accomplish a particular task.
                Although many animals use simple tools, only human beings, whose use of stone tools dates back hundreds of millennia, have been observed using tools to make other tools.
                Early human tools, made of such materials as stone, bone, and wood, were used for preparation of food, hunting, manufacture of weapons, and working of materials to produce clothing and useful artifacts.
                The development of metalworking made additional types of tools possible. Harnessing energy sources, such as animal power, wind, or steam, allowed increasingly complex tools to produce an even larger range of items,
                with the Industrial Revolution marking an inflection point in the use of tools. The introduction of widespread automation in the 19th and 20th centuries allowed tools to operate with minimal human supervision,
                further increasing the productivity of human labor.
            </p>
        </div>

        <div class="second-div">
            <h2>Tech</h2>
            <p>
                Technology is the application of knowledge for achieving practical goals in a reproducible way The word technology can also mean the products resulting from such efforts,
                including both tangible tools such as utensils or machines, and intangible ones such as software. Technology plays a critical role in science, engineering, and everyday life.
                Technological advancements have led to significant changes in society. The earliest known technology is the stone tool, used during prehistoric times, followed by the control of fire,
                which contributed to the growth of the human brain and the development of language during the Ice Age. The invention of the wheel in the Bronze Age allowed greater travel and the creation of more complex machines.
                More recent technological inventions, including the printing press, telephone, and the Internet, have lowered barriers to communication and ushered in the knowledge economy.
                While technology contributes to economic development and improve human prosperity, it can also have negative impacts like pollution or resource depletion,
                or may cause social harms like technological unemployment resulting from automation. As a result, there are ongoing philosophical and political debates about the role and use of technology,
                the ethics of technology, and ways to mitigate potential downsides.
            </p>
        </div>
    </section>
</body>