@{
    ViewData["Title"] = "AdminLoginPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body>
    <section>
        <div class="first-div">
            <div class="login-div">
                <h2>admin email</h2>
                <input type="email" placeholder="special email.." id="email-input" />

                <h2>admin password</h2>
                <input type="password" placeholder="unique password.." id="password-input" />
                <br />
                <button id="login-button">Login</button>
                <br />
                <a href="@Url.Action("LoginPage", "Home")" class="sign-up">back to the lower class logins sigh</a>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function loginInput() {
            $("#login-button").click(function (event) {

                var email = $("#email-input")
                var emailInput = $('#email-input').val()
                var passwordInput = $('#password-input').val()
                var emailInputClear = $('#email-input').val("");
                var passwordInputClear = $('#password-input').val("");
                var loginError = $("#login-error")
                var loginError2 = $("#login-error2")
                var passwordParam = "&Password="
                var emailParam = "Email=" + emailInput + passwordParam + passwordInput;
                var goToUrl = "@Url.Action("AdminAccountPage", "LogedinAdmin")";
                var loginValid = "LOGIN VALID";
                var loginInvalid = "LOGIN INVALID";
                var emailLoginInput = sessionStorage.getItem("emailBoxInput")
                var updateButton = sessionStorage.getItem("updateButton")

                /*
                    when the login button is clicked an ajax GET request is activated
                    that will authenticate the detials entered, if the details match then the user will be brought to the
                    admin account page.
                */

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("AuthenticateLogin", "Admin")" + "?" + emailParam,
                    dataType: "JSON",
                    data: Request,
                    success: function (data) {
                        if (data == loginValid) {
                            console.log(data)
                            loginError2.hide()
                            loginError.hide()
                            emailInputClear
                            passwordInputClear
                            sessionStorage.setItem("emailInput", emailInput)
                            sessionStorage.setItem("passwordInput", passwordInput)
                            email.val()
                            window.location.href = goToUrl
                        }
                        if (passwordInput | emailInput == "") {
                            loginError.show()
                            loginError2.hide()
                        }

                        else if (data == loginInvalid) {
                            loginError2.show()
                            loginError.hide()
                            emailInputClear
                            passwordInputClear
                        }
                    }
                })
            })
        })
    </script>
</body>