@{
    ViewData["Title"] = "LoginPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body>
    <section>
        <div class="first-div">
            <div class="login-div">
                <h2>email</h2>
                <input type="email" placeholder="email.." id="email-input" />

                <h2>password</h2>
                <input type="password" placeholder="password.." id="password-input" />
                <br />
                <button id="login">Login</button>
                <br />
                <a href="@Url.Action("SignUpPage", "Home")" class="sign-up">Sign up?</a>
            </div>
        </div>

        <div class="first-div">
            <div class="login-div">
                <h2>Do not click unless your special</h2>
                <a href="@Url.Action("AdminLoginPage", "Home")" class="admin-login">Super secret admin login shhh!</a>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function loginInput() {

            var goToUrl = "@Url.Action("LoginPage", "Home")";

            $("#to-login-page").click(function (event) {
                //window.location.href = goToUrl
            })
        })
    </script>
</body>