@{
    ViewData["Title"] = "ProductPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="login-div">
                <h2>You haft to be Loged in<br /> sorry buddy</h2>
                <button id="to-login-page">Go to Login</button>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function loginInput() {

            var goToUrl ="@Url.Action("LoginPage", "Home")";

            $("#to-login-page").click(function (event) {
                window.location.href = goToUrl
            })
        })
    </script>
</body>