@{
    ViewData["Title"] = "SignUpPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body>
    <section>
        <div class="first-div">
            <div class="login-div">
                <h2>email</h2>
                <input type="email" placeholder="enter your email.." id="email-input" />

                <h2>password</h2>
                <input type="password" placeholder="create password.." id="password-input" />
                <br />
                <button id="sign-up">Sign Up</button>
                <br />
                <a href="@Url.Action("LoginPage", "Home")" class="sign-up">Login?</a>
                <h4 id="login-error2">User allready created</h4>
                <h4 class="login-good" id="login-good">Account created</h4>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function loginInput() {
            $("#sign-up").click(function (event) {

                var email = $("#email-input")
                var emailInput = $('#email-input').val()
                var passwordInput = $('#password-input').val()
                var emailInputClear = $('#email-input').val("");
                var passwordInputClear = $('#password-input').val("");
                var loginGood = $("#login-good")
                var loginError2 = $("#login-error2")
                var passwordParam = "&Password="
                var emailParam = "Email=" + emailInput + passwordParam + passwordInput;
                var loginValid = "LOGIN VALID";
                var loginInvalid = "LOGIN INVALID";

                /*
                    when the login button is clicked an ajax GET request is activated
                    that will authenticate the detials entered, if the details do not
                    match a entry in the user table then a new user will be created.
                */

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("CheckUser", "User")" + "?" + emailParam,
                    dataType: "JSON",
                    data: Request,
                    success: function (data) {
                        if (data == loginValid) {
                            console.log(data)
                            loginError2.hide()
                            loginGood.show()
                            emailInputClear
                            passwordInputClear
                            email.val()
                        }

                        else if (data == loginInvalid) {
                            loginError2.show()
                            loginError.hide()
                            emailInputClear
                            passwordInputClear
                        }
                    }
                })
            })
        })
    </script>
</body>